#popup {
  display: none;
}

h1 {
  margin: 1rem 1rem 1rem 30rem;
}

#list {
  margin: 1rem 1rem 1rem 25rem;
}

.search-container {
  float: right;
}

.search-container button {
  float: right;
  margin-right: 16px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  width: 60px;
  height: 3vh;
}

#filter_buttons {
  display: flex;
  justify-content: center;
}

#filter_buttons button {
  margin: 10px;
}
